<div class="login-form container-fluid">
  <div class="row m-auto  d-flex specify-content-arround">


    <form class="container signup-form py-5 " #loginform="ngForm" (ngSubmit)="loginFormSubmit(loginform)">
      <div class="pro">
        <h2 class="text-center">Kichen Jungle</h2>
        <p class="text-center">Welcome To Your Dream's Kichen...</p>
      </div>

      <div class="mb-3 form-group">
        <input type="email" placeholder="EMAIL ADDRESS..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel #email="ngModel" required>
        <div id="email" *ngIf="email.errors && email.touched || email.dirty">
          <div class="validat-txt" [hidden]="!email.errors?.pattern">
            Invalid pattern
          </div>
        </div>
      </div>
      <div class="mb-3">
        <input type="password" placeholder="PASSWORD..." class="form-control" id="pass" name="pass" ngModel
          #pass="ngModel" minlength="6" required>
        <div *ngIf="pass.errors && pass.touched">
          <div *ngIf="pass.errors.required">
            <div class=" validat-txt">This feild is required</div>
          </div>
          <div *ngIf="pass.errors.minlength">
            <div class="validat-txt">minlength is at least 6 characters</div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary log-btn">Submit</button>
      <button type="submit" class="btn btn-primary  mt-2  log-btn"><i class="fab fa-facebook "></i> Login With Facebook</button>

      <div class="register my-4"><b>Don't have account ? <a routerLink="/registrationPage">Register</a></b></div>
      <div class="mt-2">
        <h2 class="text-danger">{{firebaseError}}</h2>
      </div>

    </form>




    <div class="img-regist">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item w-100 active">
            <img src="./assets/mostafa3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item w-100">
            <img src="./assets/mostafa2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item w-100">
            <img src="./assets/mostafa.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>