
.navbar-brand
{
    width: 8%;
}

.nav-link
{
    font-size: 1.2rem;
}
.search-btn
{
    color: #28A745;
    background-color: #FFFFFF;
    border-color: white;
}
.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255,255,255,.8) ;
}

.navbar-dark .navbar-nav .nav-link:hover
{
    background-color :#20bf55;
background-image :linear-gradient(180deg, #20bf55 0%, #01baef 90%);

    border-radius: 15px;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
}




.search-btn:hover
{
    color: white;
    background-color: #28A745;
    border-color: white;
}


/* profile dropdown menu style */

.profile
{
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu
{
    background-color: white;
    position: absolute;
    top:150%;
    right: 3%;
    z-index: 500;
    border-radius: 15px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu.active
{
    top:110%;
    visibility: visible;
    opacity: 1;
}

.menu::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: 18%;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
}

.menu h3
{
    width: 100%;
    color: #555;
    line-height: 1.2;
}

.menu ul li 
{
    direction: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.menu ul li img
{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
}
.menu ul li:hover img
{
    opacity: 1;
}
