section{
    background-image: url('/assets/30.png');
    background-position: center;
    background-size: cover;
    width:100%;
    height:100vh;
    position: relative;
}
.contactForm{
    position: absolute;
    top: 30%;
    right:35%;
    width:30%;
    height:50%;
    padding: 3rem;
    background-color: rgba(70, 79, 65, .1);
}
input , textarea{
    border-radius: 20px;
    border:1px solid #184d47;
    border-width: 0px 0px 2px;
    background-color: rgba(255, 251, 239, .8);
    box-shadow: 2px 2px 4px #184d47 inset;
    margin-bottom: 1.5rem;
}
textarea{
    resize: none;
}
textarea::placeholder{
    padding-top: 1rem;
}
input:focus, textarea:focus{
    background-color:transparent;
    box-shadow: 2px 2px 4px rgb(255, 251, 239) inset; 
    color: rgb(255, 251, 239);
}
input:focus::placeholder, textarea:focus::placeholder{
    color: rgb(255, 251, 239);
}
input::placeholder , textarea::placeholder{
    text-align: center;
    font-size: .8rem;
    font-weight: 800;
    font-family: 'Petit Formal Script', cursive;
}
button.cont-btn{
    background-color:#2f5d62 ;
    border-radius: 20px;
    width: 50%;
    border:1px solid transparent ;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 4px #9dbeb9;
    color: rgb(255, 251, 239);
    font-family: 'Petit Formal Script', cursive;
    font-weight: 800;
}
button.cont-btn:hover{
    background-color: #9dbeb9;
    box-shadow: 2px 2px 5px #184d47;
    color:rgb(255, 251, 239);
}
.validat-txt{
    border-radius: 20px;
    background-color: transparent;
    color: rgb(255, 251, 239);
    color:#f2f2f2;
    width:70%;
    border-bottom: 2px solid #ec4646;
}
h2{
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 900;
    color: rgb(255, 251, 239);
    font-size: 1.8rem;
    transform: skew(45deg);
    transform: rotate(-10deg);
    margin-bottom: 2rem;
    border-bottom: 1px solid #f2f2f2;
}
@media (max-width:769px){
    h2{
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
    .contactForm{
        top:30%;
        right:10%;
        width:80%;
    height:50%;
        padding:4rem;
    }
    input{
        height:3.5rem;
    }
    textarea{
        height:7rem;
    }
    input::placeholder , textarea::placeholder{
        font-size: 1.3rem;
        font-weight: 600;
    }
    textarea::placeholder{
        padding: .9rem;
    }
    button.cont-btn{
        width: 45%;
        font-weight: 700;
    }
    .validat-txt{
        font-size: 1.6rem;
    width:75%;
    border-bottom: 2px solid #ec4646;
}   
}
@media (max-width:1025px){
    h2{
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }
    .contactForm{
        top:30%;
        right:27%;
        width:46%;
    height:70%;
        padding:2.5rem;
    }
    input{
        height:3.5rem;
    }
    textarea{
        height:7rem;
    }
    input::placeholder , textarea::placeholder{
        font-size: 1.3rem;
        font-weight: 600;
    }
    textarea::placeholder{
        padding: .9rem;
    }
    button.cont-btn{
        width: 45%;
        font-weight: 700;
    }
    .validat-txt{
        font-size: 1.6rem;
    width:75%;
    border-bottom: 2px solid #ec4646;
}   
}
@media (max-width:541px){
    h2{
        font-size: 2rem;
    }
    .contactForm{
        width:80%;
        height:50%;
        padding:2rem;
        top:30%;
        right:10%;
    }
    input::placeholder , textarea::placeholder{
        font-size: 1.2rem;
        font-weight: 500;
    }
    textarea::placeholder{
        padding: .2rem;
    }
    button.cont-btn{
        width: 45%;
        font-weight: 700;
    }
    .validat-txt{
        font-size: 1rem;
    width:75%;
    border-bottom: 2px solid #ec4646;
} 
}
@media (max-width:361px){
    h2{
        font-size: 1.5rem;
    }
    .contactForm{
        top:28%;
        right:10%;
        width:80%;
    height:50%;
        padding:1rem;
    }
    input::placeholder , textarea::placeholder{
        font-size: .9rem;
        font-weight: 400;
    }
    button.cont-btn{
        width: 45%;
        font-weight: 700;
    }
    .validat-txt{
        font-size: .8rem;
    width:75%;
    border-bottom: 2px solid #ec4646;
} 
}

/* @media (min-width:820px){
    h2{
        font-size: 1.8rem;
    }
    .contactForm{
        top:18%;
        height:60%;
        padding:2rem;
    }
    input::placeholder , textarea::placeholder{
        font-size: .7rem;
        font-weight: 700;
    }
    button.cont-btn{
        width: 45%;
        font-weight: 700;
    }
    .validat-txt{
        font-size: .8rem;;
    width:75%;
    border-bottom: 2px solid #ec4646;
}
} */